// 色系
$primary: #45A4DC;
$secondary: #BD1A2C;
$black: #000000;
$white: #ffffff;

// 灰階，寫法nth($grayscale,第幾個顏色、css第一個位子為1，js才是0)
$gray-100: #EEEEEE;
$gray-200: #B5B5B6;
$gray-300: #707070;

// RWD斷點
$mq-breakpoints: (
  sm: 576,
  md: 768,
  lg: 992,
  xl: 1200,
  xxl: 1601
);

// GAP (自己設定參數)
$gap: (
  1: 0.25rem,
  2: 0.5rem,
)
