<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/tailwind.css">
  <link rel="stylesheet" href="./css/all.css">
  <title>PEPSIXVOUGE</title>
</head>

<body>

  <div id="app">
    <div class="loading">
      <svg width="200px" height="200px" viewBox="0 0 100 100">
        <g transform="translate(80,50)">
          <g transform="rotate(0)">
            <circle cx="0" cy="0" r="6" fill="#ffffff" fill-opacity="1">
              <animateTransform attributeName="transform" type="scale" begin="-0.875s" values="1.5 1.5;1 1"
                keyTimes="0;1" dur="1s" repeatCount="indefinite"></animateTransform>
              <animate attributeName="fill-opacity" keyTimes="0;1" dur="1s" repeatCount="indefinite" values="1;0"
                begin="-0.875s"></animate>
            </circle>
          </g>
        </g>
        <g transform="translate(71.21320343559643,71.21320343559643)">
          <g transform="rotate(45)">
            <circle cx="0" cy="0" r="6" fill="#ffffff" fill-opacity="0.875">
              <animateTransform attributeName="transform" type="scale" begin="-0.75s" values="1.5 1.5;1 1"
                keyTimes="0;1" dur="1s" repeatCount="indefinite"></animateTransform>
              <animate attributeName="fill-opacity" keyTimes="0;1" dur="1s" repeatCount="indefinite" values="1;0"
                begin="-0.75s"></animate>
            </circle>
          </g>
        </g>
        <g transform="translate(50,80)">
          <g transform="rotate(90)">
            <circle cx="0" cy="0" r="6" fill="#ffffff" fill-opacity="0.75">
              <animateTransform attributeName="transform" type="scale" begin="-0.625s" values="1.5 1.5;1 1"
                keyTimes="0;1" dur="1s" repeatCount="indefinite"></animateTransform>
              <animate attributeName="fill-opacity" keyTimes="0;1" dur="1s" repeatCount="indefinite" values="1;0"
                begin="-0.625s"></animate>
            </circle>
          </g>
        </g>
        <g transform="translate(28.786796564403577,71.21320343559643)">
          <g transform="rotate(135)">
            <circle cx="0" cy="0" r="6" fill="#ffffff" fill-opacity="0.625">
              <animateTransform attributeName="transform" type="scale" begin="-0.5s" values="1.5 1.5;1 1" keyTimes="0;1"
                dur="1s" repeatCount="indefinite"></animateTransform>
              <animate attributeName="fill-opacity" keyTimes="0;1" dur="1s" repeatCount="indefinite" values="1;0"
                begin="-0.5s"></animate>
            </circle>
          </g>
        </g>
        <g transform="translate(20,50.00000000000001)">
          <g transform="rotate(180)">
            <circle cx="0" cy="0" r="6" fill="#ffffff" fill-opacity="0.5">
              <animateTransform attributeName="transform" type="scale" begin="-0.375s" values="1.5 1.5;1 1"
                keyTimes="0;1" dur="1s" repeatCount="indefinite"></animateTransform>
              <animate attributeName="fill-opacity" keyTimes="0;1" dur="1s" repeatCount="indefinite" values="1;0"
                begin="-0.375s"></animate>
            </circle>
          </g>
        </g>
        <g transform="translate(28.78679656440357,28.786796564403577)">
          <g transform="rotate(225)">
            <circle cx="0" cy="0" r="6" fill="#ffffff" fill-opacity="0.375">
              <animateTransform attributeName="transform" type="scale" begin="-0.25s" values="1.5 1.5;1 1"
                keyTimes="0;1" dur="1s" repeatCount="indefinite"></animateTransform>
              <animate attributeName="fill-opacity" keyTimes="0;1" dur="1s" repeatCount="indefinite" values="1;0"
                begin="-0.25s"></animate>
            </circle>
          </g>
        </g>
        <g transform="translate(49.99999999999999,20)">
          <g transform="rotate(270)">
            <circle cx="0" cy="0" r="6" fill="#ffffff" fill-opacity="0.25">
              <animateTransform attributeName="transform" type="scale" begin="-0.125s" values="1.5 1.5;1 1"
                keyTimes="0;1" dur="1s" repeatCount="indefinite"></animateTransform>
              <animate attributeName="fill-opacity" keyTimes="0;1" dur="1s" repeatCount="indefinite" values="1;0"
                begin="-0.125s"></animate>
            </circle>
          </g>
        </g>
        <g transform="translate(71.21320343559643,28.78679656440357)">
          <g transform="rotate(315)">
            <circle cx="0" cy="0" r="6" fill="#ffffff" fill-opacity="0.125">
              <animateTransform attributeName="transform" type="scale" begin="0s" values="1.5 1.5;1 1" keyTimes="0;1"
                dur="1s" repeatCount="indefinite"></animateTransform>
              <animate attributeName="fill-opacity" keyTimes="0;1" dur="1s" repeatCount="indefinite" values="1;0"
                begin="0s"></animate>
            </circle>
          </g>
        </g>
      </svg>
    </div>

    <div
      class="relative bg-black min-h-screen">
      <div class="relative pt-6 px-6 pb-2 z-10">
        <img src="./img/logo.svg" alt="logo" class="mx-auto" :class="{'mb-2.5':nowLoginWay === 'modernQRcode','mb-[30px]':nowLoginWay === 'modernvehicle'}">
        <img src="./img/bubble-1.svg" alt="氣泡" class="absolute top-11 right-0" v-show="nowLoginWay === 'modernQRcode'">
        <img src="./img/bubble-2.svg" alt="氣泡" class="absolute top-11 right-0" v-show="nowLoginWay === 'modernvehicle'">
        <img src="./img/smile-1.svg" alt="微笑" class="absolute top-[72px] left-0" v-show="nowLoginWay === 'modernvehicle'">
        <div class="relative mb-6">
          <img src="./img/bubble-3.svg" alt="氣泡" class="absolute top-2 right-16" v-show="nowLoginWay === 'modernvehicle'">
          <div class="flex justify-center items-center mb-2">
            <img src="./img/small-left-smile.svg" alt="微笑">
            <h2 class="font-medium text-18px text-white mx-2">基本資料</h2>
            <img src="./img/small-right-smile.svg" alt="微笑">
          </div>
          <div class="space-y-2">
            <div class="w-full">
              <input type="text" placeholder="請填您的真實姓名"
                class="duration-300 block font-light text-14px bg-white border w-full rounded-5 h-8 px-2 focus:border focus:border-primary">
            </div>
            <div class="w-full">
              <input type="tel" placeholder="請填寫您的手機"
                class="duration-300 block font-light text-14px bg-white border w-full rounded-5 h-8 px-2 focus:border focus:border-primary">
            </div>
          </div>
        </div>
        <div class="relative">
          <img src="./img/bubble-4.svg" alt="氣泡" class="absolute -top-4 -right-4" v-show="nowLoginWay === 'modernvehicle'">
          <div class="flex justify-center items-center mb-2">
            <img src="./img/big-left-smile.svg" alt="微笑">
            <h2 class="font-medium text-18px text-white mx-2">
              發票類型與登錄方式
            </h2>
            <img src="./img/big-right-smile.svg" alt="微笑">
          </div>
          <div class="space-y-2">
            <div class="w-full">
              <div class="relative">
                <img src="./img/icon-down-arrow.svg" alt="箭頭圖示"
                  class="absolute top-1/2 right-3 -translate-y-1/2 pointer-events-none">
                <select
                  class="duration-300 block font-light text-14px bg-white border w-full rounded-5 h-8 px-2 focus:border focus:border-primary"
                  v-model="nowLoginWay">
                  <option v-for="way in loginWay" :value="way.nameEn" :key="way.name">{{ way.name }}</option>
                </select>
              </div>
            </div>
            <div v-show="nowLoginWay === 'modernQRcode'">
              <div class="w-full mb-2">
                <a href="javascript:;" class="flex justify-center items-center bg-secondary rounded-9 p-2.5">
                  <img src="./img/QRcode.svg" alt="QRcode">
                  <span class="text-20px text-white ml-3">開啟QRcode掃描 </span>
                </a>
              </div>
              <div class="w-full">
                <button type="button" class="block w-full text-20px text-white bg-primary rounded-9 p-2.5" @click="openModal">
                  送 出
                </button>
              </div>
            </div>
            <div v-show="nowLoginWay === 'modernvehicle'">
              <div class="mb-2">
                <div class="flex items-center mb-1">
                  <span class="text-secondary">*</span>
                  <h3 class="text-14px text-white">發票日期</h3>
                </div>
                <input type="date"
                  class="duration-300 block font-light text-14px bg-white border w-full rounded-5 h-10 px-2 py-1.5 focus:border focus:border-primary">
              </div>
              <div class="mb-2">
                <div class="flex items-center mb-1">
                  <span class="text-secondary">*</span>
                  <h3 class="text-14px text-white">發票號碼</h3>
                </div>
                <input type="text" placeholder="請輸入發票號碼(ex:AB12345678)"
                  class="uppercase duration-300 block font-light text-14px bg-white border w-full rounded-5 h-8 px-2 focus:border focus:border-primary">
              </div>
              <div class="mb-5">
                <div class="flex items-center mb-1">
                  <span class="text-secondary">*</span>
                  <h3 class="text-14px text-white">驗證碼(可點選圖片刷新)</h3>
                </div>
                <div class="flex items-center">
                  <input type="text" placeholder="1234"
                    class="duration-300 block font-light text-14px bg-white border w-full rounded-5 h-8 px-2.5 mr-2 focus:border focus:border-primary">
                  <div class="min-w-[90px]">
                    <img src="./img/verification-code.png" alt="驗證碼圖片" class="rounded-5 w-full h-full object-cover">
                  </div>
                </div>
              </div>
              <div class="w-full">
                <button type="button" class="block w-full text-20px text-white bg-primary rounded-9 p-2.5" @click="openModal">
                  送 出
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="relative" v-show="nowLoginWay === 'modernQRcode'">
        <img src="./img/awards-1.svg" alt="獎品及人物圖片" class="absolute top-0 left-0 w-full mx-auto">
        <img src="./img/awards-2.png" alt="獎品及人物圖片" class="w-full mx-auto">
      </div>
      <div class="relative" v-show="nowLoginWay === 'modernvehicle'">
        <img src="./img/bg-cola.png" alt="cola" class="w-full -mt-8">
      </div>
      <div class="modal duration-300" :class="{'opacity-0 invisible' : !modal,'opacity-1 visible' : modal}">
        <div class=" modal__main">
          <div class="modal__card">
            <ul>
              <li>
                <p>請輸入中文姓名</p>
              </li>
              <li>
                <p>請輸入手機號碼</p>
              </li>
              <li>
                <p>請重新掃描 QRCode</p>
              </li>
            </ul>
          </div>
          <a href="javascript:;" class="modal__close" @click="closeModal">
            確定
          </a>
        </div>
      </div>
    </div>
  </div>

  <script type="module" src="./js/app.js"></script>

</body>

</html>